
<div style=" display: flex; height: 340px;">
    <div style="flex: 1;padding: 1em;border: solid;">
     <form [formGroup] = "form">
      <mat-form-field>
            <mat-label>Codice</mat-label>
            <input matInput formControlName="codice" placeholder="Codice">
           
      </mat-form-field> 
       
       <mat-form-field>
        <mat-label>Descrizione</mat-label>
        <input matInput formControlName="descrizione" placeholder="Descrizione">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Budget</mat-label>
          <input matInput formControlName="budget" placeholder="Budget">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Budget Pregresso</mat-label>
        <input matInput formControlName="budgetPreg" placeholder="Budget Pregresso">
    </mat-form-field>
        <mat-form-field>
            <mat-label>Effort Totale</mat-label>
            <input matInput formControlName="effortTot" placeholder="Effort Totale">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Effort Pregresso</mat-label>
            <input matInput formControlName="effortPreg" placeholder="Effort Pregresso">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Note </mat-label>
            <input matInput formControlName="note" placeholder="Note">
        </mat-form-field>
        
       
     
    
     <button mat-raised-button color="primary"  [disabled]= "!disabilitato"   (click)="inserisciRiga()">inserisci dati</button>
  
            
     </form>
  
    
    </div>
    <div style="flex: 2;padding: 1em;border: solid;">
        <form [formGroup] = "form2">
     
            <mat-form-field>
              <mat-label>Stato</mat-label>
              <mat-select formControlName="stato" placeholder="Stato">
                <mat-option></mat-option>
                <mat-option *ngFor="let stato of stati" [value]="stato">{{stato.descrizione2}}</mat-option>
      
      
              </mat-select>
      
            </mat-form-field><br>
            
            <mat-form-field>
             <mat-label>Tipologia</mat-label>
             <mat-select formControlName="tipologia" placeholder="Tipologia">
             <mat-option></mat-option>
                <mat-option *ngFor="let tipologia of tipologie" [value]="tipologia">{{tipologia.descrizione2}}</mat-option>
              </mat-select>
             </mat-form-field><br>

             <mat-form-field>
              <mat-label>Progetto</mat-label>
              <mat-select formControlName="progetto" placeholder="Progetto">
              <mat-option></mat-option>
                 <mat-option *ngFor="let progetto of progetti" [value]="progetto">{{progetto.descrizione2}}</mat-option>
               </mat-select>
              </mat-form-field><br>
            
                
              
       
         
         
       
                 
          </form>
     </div>
   
    
    
    
  </div>
  
  <ag-grid-angular
     style="width: 100%; height: 100%"
     class="ag-theme-alpine"
     [getRowId]="getRowId"
     [columnDefs]="columnDefs"
     [defaultColDef]="defaultColDef"
     [rowData]="rowData$ | async"
     [rowSelection]="'multiple'"
     (gridReady)="onGridReady($event)"
     (cellClicked)="onCellClicked($event)"
     (cellEditingStarted)="onCellEditingStarted($event)"
     (cellValueChanged)="onCellValueChanged($event)"
   ></ag-grid-angular>
  
