@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

html,
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    padding: 0px;
    margin: 0px;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.button-cell {
    padding: 0px;
    width: 34px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.button-cell button:active {
    border-color: transparent!important;
}