
<div style=" display: flex; height: 340px;">
  <div style="flex: 1;padding: 1em;border: solid;">
   <form [formGroup] = "form">
   
     
     
     <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome" placeholder="Nome">
      </mat-form-field><br>

 <mat-form-field>
  <mat-label>Cognome</mat-label>
  <input matInput formControlName="cognome" placeholder="Cognome">
</mat-form-field><br>
<mat-form-field>
  <mat-label>Emaill</mat-label>
  <input matInput formControlName="email" placeholder="Email">
</mat-form-field><br>
  
   <button mat-raised-button color="primary" [disabled]= "!disabilitato" (click)="inserisciRiga()">inserisci dati</button>

          
   </form>

  
  </div>
  <div style="flex: 2;padding: 1em;border: solid;">
    <form [formGroup] = "formRL">
     
      <mat-form-field>
        <mat-label>Livello</mat-label>
        <mat-select formControlName="livello" placeholder="livello">
          <mat-option></mat-option>
          <mat-option *ngFor="let livello of livelli" [value]="livello">{{livello.descrizione2}}</mat-option>


        </mat-select>

      </mat-form-field><br>
      
      <mat-form-field>
       <mat-label>Ruolo</mat-label>
       <mat-select formControlName="ruolo" placeholder="ruolo">
       <mat-option></mat-option>
          <mat-option *ngFor="let ruolo of ruoli" [value]="ruolo">{{ruolo.descrizione2}}</mat-option>
        </mat-select>
       </mat-form-field><br>

       <mat-form-field>
        <mat-label>Practice</mat-label>
        <mat-select formControlName="practice" placeholder="Practice">
        <mat-option></mat-option>
           <mat-option *ngFor="let practice of practice" [value]="practice">{{practice.descrizione2}}</mat-option>
         </mat-select>
        </mat-form-field><br>
   
 
  <mat-form-field>
    <input matInput formControlName="data" [matDatepicker]="releasedAtPicker">

    <mat-datepicker-toggle matSuffix [for]="releasedAtPicker">
  
    </mat-datepicker-toggle>
  
    <mat-datepicker #releasedAtPicker>
  
    </mat-datepicker>
    
    
 </mat-form-field><br>
   
   
 
           
    </form>
 
   
   </div>
 
  
  
  
</div>

<ag-grid-angular
   style="width: 100%; height: 100%"
   class="ag-theme-alpine"
   [getRowId]="getRowId"
   [columnDefs]="columnDefs"
   [defaultColDef]="defaultColDef"
   [rowData]="rowData$ | async"
   [rowSelection]="'multiple'"
   (gridReady)="onGridReady($event)"
   (cellClicked)="onCellClicked($event)"
   (cellEditingStarted)="onCellEditingStarted($event)"
   (cellValueChanged)="onCellValueChanged($event)"
 ></ag-grid-angular>
