<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div style=" display: flex;">
        <div style="flex: 1;padding: 1em;border: solid; height: 230px;">  
             <a routerLink="/grafico/totale" routerLinkActive="active"> <h4> Prospetto Generale</h4> </a>
        </div>
        <div style="flex: 1;padding: 1em;border: solid;height: 230px;">
            <a routerLink="/insc" routerLinkActive="active"><h4> Anagrafica Commessa</h4></a>
        </div>
        <div style="flex: 1;padding: 1em;border: solid;height: 230px;">
            <a routerLink="/inscr" routerLinkActive="active"><h4>Attribuzione Risorsa a Commessa</h4></a>
       </div>

        <div style="flex: 1;padding: 1em;border: solid;height: 230px;">
            <a routerLink="/insp" routerLinkActive="active"><h4>Anagrafica Risorsa</h4></a>
         </div>

         <div style="flex: 1;padding: 1em;border: solid;height: 230px;">
            <a routerLink="/inspl" routerLinkActive="active"><h4>inserisci livello risorsa</h4></a>
         </div>
        </div>
 <div style=" display: flex;">   
     
    <div style="flex: 2;padding: 1em;border: solid; height: 230px;">  
        <h4><a routerLink="/inserisci/rendicontazione" routerLinkActive="active">gestione rendicontazione(beta) </a></h4>
    </div>
    <div style="flex: 2;padding: 1em;border: solid;height: 230px;">
        <a routerLink="/practice" routerLinkActive="active"><h4> inserisci practice</h4></a>
    </div>
    <div style="flex: 2;padding: 1em;border: solid;height: 230px;">
        <a routerLink="/inspd" routerLinkActive="active"><h4>inserisci responsabile practice</h4></a>
   </div>
   <div style="flex: 2;padding: 1em;border: solid;height: 230px;">
    <a routerLink="/inserisci/cliente" routerLinkActive="active"><h4>inserisci cliente</h4></a>
</div>
<div style="flex: 2;padding: 1em;border: solid;height: 230px;">
    <a routerLink="/inserisci/odl" routerLinkActive="active"><h4>inserisci odl</h4></a>
</div>

    

    
    
  </div>
 
     
      
    
</body>
</html>