<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div style=" display: flex;">
        <div style="flex: 1;padding: 1em;border: solid; height: 230px;">  
            <h4> <a href="../modifica_dati/modifica.html"> visualizza grafico totale </a></h4>
        </div>
        <div style="flex: 1;padding: 1em;border: solid;height: 230px;">
            <a routerLink="/insc" routerLinkActive="active"><h4> inserisci nuova commessa</h4></a>
        </div>
        <div style="flex: 1;padding: 1em;border: solid;height: 230px;">
            <a routerLink="/inscr" routerLinkActive="active"><h4>inserisci giornate risorsa</h4></a>
       </div>

        <div style="flex: 1;padding: 1em;border: solid;height: 230px;">
            <a routerLink="/insp" routerLinkActive="active"><h4>inserisci nuova risorsa</h4></a>
         </div>

         <div style="flex: 1;padding: 1em;border: solid;height: 230px;">
            <a routerLink="/inspl" routerLinkActive="active"><h4>inserisci livello risorsa</h4></a>
         </div>
        </div>
 <div style=" display: flex;">   
      <div style="flex: 2;padding: 1em;border: solid; height: 230px;">  
        <h4><a routerLink="/inspr" routerLinkActive="active">inserisci ruolo risorsa </a></h4>
    </div>
    <div style="flex: 2;padding: 1em;border: solid;height: 230px;">
        <a routerLink="/inspra" routerLinkActive="active"><h4> inserisci practice</h4></a>
    </div>
    <div style="flex: 2;padding: 1em;border: solid;height: 230px;">
        <a routerLink="/inspd" routerLinkActive="active"><h4>inserisci responsabile practice</h4></a>
   </div>

    <div style="flex: 2;padding: 1em;border: solid;height: 230px;">
        <a routerLink="/insprar" routerLinkActive="active"><h4>inserisci risorsa a practice</h4></a>
     </div>

    
    
  </div>
 
     
      
    
</body>
</html>