<button mat-button (click)="showForm=!showForm">
	<span *ngIf="showForm">Nascondi form</span>
	<span *ngIf="!showForm">Mostra form</span>
</button>
<div style="display: flex; margin-bottom: 12px;" *ngIf="showForm">
    <div style="flex: 1;padding: 1em;border: solid;">
     <form [formGroup] = "form">
    
       
           
        <mat-form-field>
            <mat-label>Commessa</mat-label>
            <mat-select formControlName="commessa" placeholder="commessa">
              <mat-option></mat-option>
              <mat-option *ngFor="let commessa of commesse" [value]="commessa">{{commessa.descrizione3}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>PM</mat-label>
            <mat-select formControlName="risorsa" placeholder="PM">
              <mat-option></mat-option>
              <mat-option *ngFor="let risorsa of risorse" [value]="risorsa">{{risorsa.descrizione2}}</mat-option>
            </mat-select>
          </mat-form-field><br>
          <mat-form-field>
            <mat-label>Risorsa</mat-label>
            <mat-select formControlName="risorsa2" placeholder="Risorsa">
              <mat-option></mat-option>
              <mat-option *ngFor="let risorsa of risorse2" [value]="risorsa">{{risorsa.descrizione2}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Anno</mat-label>
            <mat-select formControlName="anno" placeholder="anno">
              <mat-option></mat-option>
              <mat-option *ngFor="let anno of anni" [value]="anno">{{anno.anno}}</mat-option>
            </mat-select>
          </mat-form-field><br>
          <mat-form-field>
            <mat-label>Mese</mat-label>
            <mat-select formControlName="mese" placeholder="mese">
              <mat-option></mat-option>
              <mat-option *ngFor="let mese of mesi" [value]="mese">{{mese.mese}}</mat-option>
            </mat-select>
          </mat-form-field><br>
          <mat-form-field>
            <mat-label>Odl</mat-label>
            <mat-select formControlName="odl" placeholder="odl">
              <mat-option></mat-option>
              <mat-option *ngFor="let odl of odls" [value]="odl">{{odl.descrizione2}}</mat-option>
            </mat-select>
          </mat-form-field><br>
      
       
     
    
     <button mat-raised-button color="primary" [disabled]= "!disabilitato" (click)="inserisciRiga()">consolida pianificazione</button>
  
            
     </form>
  
    
    </div>
   
  
   
    
    
    
  </div>
  <ag-grid-angular style="height: 80vh;"
     class="ag-theme-alpine"
     [getRowId]="getRowId"
     [enableBrowserTooltips] = "enableBrowserTooltips"
     [columnDefs]="columnDefs"
     [defaultColDef]="defaultColDef"
     [rowData]="rowData$ | async"
     [rowSelection]="'multiple'"
     (gridReady)="onGridReady($event)"
     (cellClicked)="onCellClicked($event)"
     (cellEditingStarted)="onCellEditingStarted($event)"
     (cellValueChanged)="onCellValueChanged($event)"
     
   
   ></ag-grid-angular>
  
  

  
