<button mat-button (click)="showForm=!showForm">
	<span *ngIf="showForm">Nascondi form</span>
	<span *ngIf="!showForm">Mostra form</span>
</button>
<div style="display: flex; margin-bottom: 12px;" *ngIf="showForm">
  <div style="flex: 1;padding: 1em;border: solid;">
    <form [formGroup] = "form">
      <mat-form-field>
        <mat-label>Codice_Odl</mat-label>
        <input matInput formControlName="codice" placeholder="Codice">
      </mat-form-field> 
      
      <mat-form-field>
        <mat-label>Descrizione_Odl</mat-label>
        <input matInput formControlName="descrizione" placeholder="Descrizione">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Budget</mat-label>
        <input matInput formControlName="budget" placeholder="Budget">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Budget Pregresso</mat-label>
        <input matInput formControlName="budgetPreg" placeholder="Budget Pregresso">
      </mat-form-field>
      <mat-form-field>
          <mat-label>Note </mat-label>
          <input matInput formControlName="note" placeholder="Note">
      </mat-form-field>
      <button mat-raised-button color="primary"  [disabled]= "!disabilitato"   (click)="inserisciRiga()">inserisci dati</button>
    </form>
  </div>
  <div style="flex: 2;padding: 1em;border: solid;">
      <form [formGroup] = "form2">
        <mat-form-field>
          <mat-label>Stato</mat-label>
          <mat-select formControlName="stato" placeholder="Stato">
            <mat-option></mat-option>
            <mat-option *ngFor="let stato of stati" [value]="stato">{{stato.descrizione2}}</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
          <mat-form-field>
            <mat-label>Commessa</mat-label>
            <mat-select formControlName="progetto" placeholder="Progetto">
            <mat-option></mat-option>
                <mat-option *ngFor="let progetto of progetti" [value]="progetto">{{progetto.descrizione2}}</mat-option>
              </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Practice</mat-label>
            <mat-select formControlName="practice" placeholder="Practice">
              <mat-option></mat-option>
              <mat-option *ngFor="let practice of practices" [value]="practice">{{practice.descrizione2}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>PM</mat-label>
            <mat-select formControlName="pm" placeholder="PM">
              <mat-option></mat-option>
                <mat-option *ngFor="let pm of risorse2" [value]="pm">{{pm.descrizione2}}</mat-option>
            </mat-select>
          </mat-form-field><br>
          <mat-form-field>
            <input matInput formControlName="datei" [matDatepicker]="releasedAtPicker">
            <mat-label>Inizio Commessa</mat-label>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="releasedAtPicker"></mat-datepicker-toggle>
            <mat-datepicker #releasedAtPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Fine Commessa</mat-label>
            <input matInput formControlName="datef" [matDatepicker]="releasedAtPicker2">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="releasedAtPicker2"></mat-datepicker-toggle>
            <mat-datepicker #releasedAtPicker2></mat-datepicker>
          </mat-form-field>
        </form>
    </div>
</div>
  
<ag-grid-angular
  class="ag-theme-alpine"
  [getRowId]="getRowId"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [rowData]="rowData$ | async"
  [rowSelection]="'multiple'"
  (gridReady)="onGridReady($event)"
  (cellClicked)="onCellClicked($event)"
  (cellEditingStarted)="onCellEditingStarted($event)"
  (cellValueChanged)="onCellValueChanged($event)"
  domLayout='autoHeight'
></ag-grid-angular>
  
