<button mat-button (click)="showForm=!showForm">
  <span *ngIf="showForm">Nascondi form</span>
  <span *ngIf="!showForm">Mostra form</span>
</button>
<div style="display: flex; margin-bottom: 12px;" *ngIf="showForm">
  <div style="flex: 1;padding: 1em;border: solid;">
    <form [formGroup] = "form">
      <mat-form-field>
        <mat-label>Livello</mat-label>
        <mat-select formControlName="livello" placeholder="Livello">
          <mat-option></mat-option>
          <mat-option *ngFor="let livello of livelli" [value]="livello">{{livello.descrizione2}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Risorsa</mat-label>
        <mat-select formControlName="risorsa" placeholder="Risorsa">
          <mat-option></mat-option>
          <mat-option *ngFor="let risorsa of risorse" [value]="risorsa">{{risorsa.descrizione2}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput formControlName="data" [matDatepicker]="releasedAtPicker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="releasedAtPicker"></mat-datepicker-toggle>
        <mat-datepicker #releasedAtPicker></mat-datepicker>
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary"  [disabled]= "!disabilitato"  (click)="inserisciRiga()">inserisci dati</button>
    </form>
  </div>
</div>
  
<ag-grid-angular
  class="ag-theme-alpine"
  [getRowId]="getRowId"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [rowData]="rowData$ | async"
  [rowSelection]="'multiple'"
  (gridReady)="onGridReady($event)"
  (cellClicked)="onCellClicked($event)"
  (cellEditingStarted)="onCellEditingStarted($event)"
  (cellValueChanged)="onCellValueChanged($event)"
  domLayout='autoHeight'
></ag-grid-angular>